* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 0, 77, .65), rgba(9, 0, 77, .65));
}

body {
    background-color: white;
}

p {
    align-self: center;
}